body {
  display: flex;
  flex-direction: column;
  height: 50vh;
  padding: 9px 9px;
  margin: 20px 30px;
}

main {
  display: flex;
  flex-direction: row;
  flex: auto;
  height: 50vh;
}

header,
footer {
  text-align: center;
  height: 20vh;
}

article {
  flex: 2;
  overflow-y: auto;
}

aside {
  flex: 1;
  overflow-y: auto;
}
